

<footer class="footer text-center py3">
    <div class="container-fluid">
        <p class="mb-3 fw-bold">
            App de Tareas con MongoDB® 2022 - Educaión IT
        </p>
    </div>
</footer>