<nav class="navbar">
    <div class="container-fluid px-5">
        <a href="/" class="navbar-brand">
            <h3>App :: Tareas</h3>
        </a>
    <div class="d-flex">
        <a href="/addTarea" class="btn bg-success">
            <i class="bi bi-list-task"> Agregar Tarea</i>
        </a>
        </div>
    <div class="d-flex">
        <a href="/" class="btn bg-primary">
            <i class="bi bi-list-task"> Mostrar Tareas</i>
        </a>
        </div>
        <div class="d-flex">
        <a href="/" class="btn bg-danger">
            <i class="bi bi-list-task"> Eliminar Tareas</i>
        </a>
        </div>
    </div>
</nav>