

<div class="container mt-5 mb-5">
    <h2 class="mb-5 text-center fw-bold">
        Listado de Tareas
    </h2>
    <div class="row row-cols-1 row-cols-md-3" id="tareas">
        {{#each result}}
            <div class="col m-1">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{titulo}}</li>
                        <li class="list-group-item">{{autor}}</li>
                        <li class="list-group-item">{{descripcion}}</li>
                    </ul>
                    <div class="card-footer">
                        {{nivel}}
                    </div>
                    </div>
            </div>
        {{/each}}
    </div>

</div> 